
create or ALTER      PROC [wood].[Proc_Completed_Receipt]
@RECEIPT_ID  INT,@OTHER_SUPPORT_FEE INT,@TOTAL_PAY INT,@AVG_PRICE INT,@WH_VOLUMN FLOAT,
@QC_VOLUMN FLOAT,@INPUT_RATE FLOAT,@PAY_RATE FLOAT,@TOTAL_NOT_TAX INT,@APPROVAL_STATUS INT,@UID INT,@MANUAL INT
AS
BEGIN
		BEGIN TRAN
		BEGIN TRY
			INSERT INTO wood.WOOD_PAY_SAVE([RECEIPT_ID],[OTHER_SUPPORT_FEE],[TOTAL_PAY],[AVERAGE_PRICE],
			[WH_VOLUMN],[QC_VOLUMN],[INPUT_RATE],[PAY_RATE],[TOTAL_NOT_TAX],APPROVAL_STATUS,CREATE_AT,
			CREATE_BY,[MANUAL])
			VALUES(@RECEIPT_ID,@OTHER_SUPPORT_FEE,@TOTAL_PAY,@AVG_PRICE,@WH_VOLUMN,@QC_VOLUMN,@INPUT_RATE,@PAY_RATE,@TOTAL_NOT_TAX,@APPROVAL_STATUS,GETDATE(),@UID,@MANUAL)

			UPDATE wood.WH_RECEIPT set [LOCK]=1 WHERE ID=@RECEIPT_ID
			COMMIT
		END TRY
		BEGIN CATCH 
			ROLLBACK
		END CATCH
END