create or ALTER       PROC [wood].[Proc_Create_Wood_Inspection] @RECEIPT_ID INT,@ITEM_ID INT,@NOTE NVARCHAR(300),
	@SIZE_OUT_RATE FLOAT,@HUMIDITY FLOAT,@ISDOUBLE NCHAR(10),@INPUT_TYPE_ID INT,@UID INT,@SAMPLE_QUANTITY INT,@DEFECT_QTY INT,@DTYPE NCHAR(10),@RATE_NONLI AS FLOAT,
	@RATE_A1 FLOAT
AS
BEGIN
	DECLARE @RESULT AS BIT , @MESSAGE AS NVARCHAR(300),@WTYPE AS INT
	SELECT @WTYPE = WTYPE FROM wood.WH_RECEIPT_DTL WHERE ID = @RECEIPT_ID
	BEGIN TRY
		INSERT INTO wood.WOOD_INSPECTION([RECEIPT_ID],[INPUT_TYPE_ID],[ITEM_ID],[NOTE],[SIZE_OUT_RATE],[HUMIDITY],[IS_DOUBLE],[DEL_FLAG],[CREATE_AT],[CREATE_BY],[DEFECT_QTY],[WTYPE],[DTYPE],
		RATE_NONLI,RATE_A1)
		VALUES(@RECEIPT_ID,@INPUT_TYPE_ID,@ITEM_ID,@NOTE,@SIZE_OUT_RATE,@HUMIDITY,@ISDOUBLE,'N',GETDATE(),@UID,@DEFECT_QTY,@WTYPE,@DTYPE,@RATE_NONLI,@RATE_A1)
		UPDATE  wood.WH_RECEIPT_DTL SET SAMPLE_QUANTITY=@SAMPLE_QUANTITY WHERE ID = @RECEIPT_ID
		SELECT @RESULT=1,@MESSAGE=N'Thành công !'
	END TRY
	BEGIN CATCH
		SELECT @RESULT=0,@MESSAGE=ERROR_MESSAGE()
	END CATCH
	SELECT @RESULT AS [RESULT], @MESSAGE AS [MESSAGE]
END