 CREATE OR  ALTER         PROC [wood].[Proc_Update_WH_Receipt_Detail]
	@ID INT,@PCS_OF_QUANTITY INT,@PACKAGE_QUANTITY INT,@LEAVE BIT,@SAMPLE_QUANTITY INT,
	@SAMPLE_PACKAGE_QTY INT,@ITEM_ID INT,@NOTE NVARCHAR(300),@ITYPE INT,@DTYPE NVARCHAR(30),
	@UID INT
AS
BEGIN
	-- TAM THOI BO QUA KE HOACH
	DECLARE @NEW_PCS_PACKAGE_QTY INT,@NEW_PACKAGE_QTY INT,@NEW_LEAVE INT,@NEW_SAMPLE_QUANTITY INT,@NEW_SAMPLE_PACKAGE_QTY INT,
	@NEW_NOTE NVARCHAR(400),@NEW_RETURN_ID INT,@NEW_ITEM_ID INT,@NEW_ITYPE INT,@NEW_DTYPE INT

	IF @PCS_OF_QUANTITY IS NULL
		SELECT @NEW_PCS_PACKAGE_QTY = PCS_PER_PACKAGE  FROM wood.WH_RECEIPT_DTL WHERE ID= @ID
	ELSE
		SELECT @NEW_PCS_PACKAGE_QTY = @PCS_OF_QUANTITY

	IF @PACKAGE_QUANTITY IS NULL
		SELECT @NEW_PACKAGE_QTY = PACKAGE_QUANTITY FROM wood.WH_RECEIPT_DTL WHERE ID= @ID
	ELSE 
		SELECT @NEW_PACKAGE_QTY = @PACKAGE_QUANTITY
	IF @NOTE IS NULL
		SELECT @NEW_NOTE  = NOTE FROM wood.WH_RECEIPT_DTL WHERE ID= @ID
	ELSE
		SELECT @NEW_NOTE = @NOTE
	IF @ITEM_ID IS NULL
		SELECT @NEW_ITEM_ID = ITEM_ID FROM wood.WH_RECEIPT_DTL WHERE ID= @ID
	ELSE 
		SELECT @NEW_ITEM_ID = @ITEM_ID

	IF @LEAVE IS NULL
		SELECT @NEW_LEAVE = LEAVE FROM wood.WH_RECEIPT_DTL WHERE ID= @ID
	ELSE
		SELECT @NEW_LEAVE = @LEAVE
	IF @SAMPLE_PACKAGE_QTY IS NULL
		SELECT @SAMPLE_PACKAGE_QTY =  SAMPLE_PACKAGE_QUANTITY FROM wood.WH_RECEIPT_DTL WHERE ID= @ID
	ELSE 
		SELECT @NEW_SAMPLE_PACKAGE_QTY = @SAMPLE_PACKAGE_QTY

	IF @SAMPLE_QUANTITY IS NULL
		SELECT @NEW_SAMPLE_QUANTITY =  SAMPLE_QUANTITY FROM wood.WH_RECEIPT_DTL WHERE ID= @ID
	ELSE 
		SELECT @NEW_SAMPLE_QUANTITY = @SAMPLE_QUANTITY

	UPDATE wood.WH_RECEIPT_DTL
	SET [ITEM_ID]=@NEW_ITEM_ID,[PCS_PER_PACKAGE]=@NEW_PCS_PACKAGE_QTY,
	[NOTE]=@NEW_NOTE,[SAMPLE_PACKAGE_QUANTITY]=@NEW_SAMPLE_PACKAGE_QTY,[LEAVE]=@NEW_LEAVE,
	[SAMPLE_QUANTITY] =@NEW_SAMPLE_QUANTITY,[MODIFY_AT]=GETDATE(),[MODIFY_BY]=@UID,
	[PACKAGE_QUANTITY]=@NEW_PACKAGE_QTY,DTYPE=@DTYPE,INPUT_TYPE_ID=@ITYPE
	WHERE [ID]=@ID
	SELECT 1 AS [RESULT],N'Thành Công !' AS [MESSAGE]
END