CREATE OR ALTER       PROC [wood].[Proc_get_Pay_Cal_By_Receipt_id_Van]
@RECEIPT_ID INT
AS
BEGIN
	DECLARE @REGION_ID INT,@TYLE_NGHIEM_THU_CUA_CHINH_PHAM FLOAT
	SELECT @REGION_ID = REGION_ID FROM base.VENDOR WHERE ID = (SELECT VENDOR_ID FROM wood.WH_RECEIPT WHERE ID = @RECEIPT_ID)
	SELECT  DLT.ID AS [CID],DLT.INPUT_TYPE_ID  ,DLT.ITEM_ID,TRIM(DLT.DTYPE) AS [DTYPE],DLT.PCS_PER_PACKAGE,
	DLT.PACKAGE_QUANTITY,DLT.PCS_PER_PACKAGE*DLT.PACKAGE_QUANTITY AS [TOTAL_QTY],
	DLT.SAMPLE_PACKAGE_QUANTITY,SAMPLE_QUANTITY,
	IPS.[RATE_A] AS [INS_RATE],wood.Func_Get_Pay_Rate(IPT.ID,
	1-CAST((SELECT SUM(DEFECT_QTY) FROM wood.WOOD_INSPECTION WHERE RECEIPT_ID=DLT.ID AND INPUT_TYPE_ID NOT IN(100017,100018,100019)) AS  float)/CAST(IPS.SAMPLE_QTY AS FLOAT)
	,DLT.ID,0,1) AS [PAY_RATE],
	IT.VOLUMN AS [ITEM_VOLUMN],
	ROUND((100 - ROUND(CAST((SELECT SUM(DEFECT_QTY) AS [DF_QTY] FROM wood.WOOD_INSPECTION 
		WHERE RECEIPT_ID =DLT.ID
		AND DEL_FLAG='N')  AS FLOAT)/CAST(IPS.[SAMPLE_QTY] AS FLOAT),4)*100)*IT.VOLUMN*DLT.PCS_PER_PACKAGE*DLT.PACKAGE_QUANTITY/100,4) AS [QC_VOLUMN],
	ROUND(IT.VOLUMN*DLT.PCS_PER_PACKAGE*DLT.PACKAGE_QUANTITY,4) AS [WH_VOLUMN],
	dbo.FUNC_GET_PRICE_WOOD((SELECT RECEIPT_DATE FROM wood.WH_RECEIPT WHERE ID = @RECEIPT_ID),DLT.ITEM_ID,TRIM(DLT.DTYPE),
	(SELECT REGION_ID FROM base.VENDOR WHERE ID = (SELECT VENDOR_ID FROM wood.WH_RECEIPT WHERE ID = @RECEIPT_ID)),DLT.INPUT_TYPE_ID,DLT.WTYPE,DLT.INPUT_TYPE_ID) AS [COM_PRICE],
	'INPUT' AS [ITYPE],0  AS [PARENTID],IPT.[NAME] AS [INPUT_NAME],IT.HEIGHT,IT.WIDTH,IT.LENGTH,
	IPS.SAMPLE_QTY-(SELECT SUM(DEFECT_QTY)  FROM wood.WOOD_INSPECTION WHERE RECEIPT_ID=DLT.ID AND DEL_FLAG='N') AS [GOOD_QTY],
	WT.NAME AS [WOOD_TYPE],DLT.WTYPE,DLT.ID AS [PID],IPS.[SAMPLE_QTY],IPS.[RATE_A],IPS.[RATE_B],IPS.[RATE_C],
	0 AS 'OUT_PRICE',
	1-CAST((SELECT SUM(DEFECT_QTY) FROM wood.WOOD_INSPECTION WHERE RECEIPT_ID=DLT.ID AND INPUT_TYPE_ID NOT IN(100017,100018,100019)) AS  float)/CAST(IPS.SAMPLE_QTY AS FLOAT) AS [TL]
FROM wood.WH_RECEIPT_DTL AS DLT
INNER JOIN base.ITEM AS IT ON IT.ID = DLT.ITEM_ID
INNER JOIN wood.WH_INPUT_TYPE AS IPT ON IPT.ID = DLT.INPUT_TYPE_ID
INNER JOIN wood.WOOD_TYPE AS WT ON WT.ID = DLT.WTYPE
INNER JOIN wood.WOOD_INSP AS IPS ON IPS.RECEIPT_ID = DLT.ID
WHERE DLT.[WH_RECEIPT_ID] =@RECEIPT_ID

UNION ALL
SELECT INS.ID-99999 AS [CID],INPUT_TYPE_ID,ITEM_ID,CASE WHEN HUMIDITY <=25 THEN 'K'  ELSE 'U' END AS [DTYPE],
0 AS [PCS_PER_PACKAGE],0 AS [PACKAGE_QUANTITY],0 AS [TOTAL_QTY],0 AS [SAMPLE_PACKAGE_QUANTITY],
0 AS [SAMPLE_QUANTITY],ROUND(CAST(INS.DEFECT_QTY AS FLOAT)/CAST((SELECT [SAMPLE_QTY] FROM wood.WOOD_INSP WHERE RECEIPT_ID=100001)AS FLOAT),4)*100 AS [INS_RATE],
wood.Func_Get_Pay_Rate(INS.INPUT_TYPE_ID,INS.PAY_RATE,INS.RECEIPT_ID,INS.ID,0) AS [PAY_RATE],IT.VOLUMN AS [ITEM_VOLUMN],
	ROUND(IT.VOLUMN*(SELECT PACKAGE_QUANTITY*PCS_PER_PACKAGE FROM wood.WH_RECEIPT_DTL WHERE ID = INS.RECEIPT_ID)*ROUND(CAST(DEFECT_QTY AS FLOAT)/CAST((SELECT [SAMPLE_QTY] FROM wood.WOOD_INSP WHERE RECEIPT_ID=100001)AS FLOAT),4) ,4)
	AS [QC_VOLUMN],
	0 AS [WH_VOLUMN],
	dbo.FUNC_GET_PRICE_WOOD((SELECT RECEIPT_DATE FROM wood.WH_RECEIPT WHERE ID =@RECEIPT_ID),INS.ITEM_ID,INS.DTYPE
	,@REGION_ID,INS.INPUT_TYPE_ID,INS.WTYPE,
	(SELECT INPUT_TYPE_ID FROM wood.WH_RECEIPT_DTL WHERE ID = RECEIPT_ID)) AS [COM_PRICE],
	'INSPECT' AS [ITYPE],RECEIPT_ID  AS [PARENTID],IPT.NAME AS [INPUT_NAME],IT.HEIGHT,IT.WIDTH,IT.LENGTH,INS.DEFECT_QTY AS [GOOD_QTY],
	WT.NAME AS [WOOD_TYPE],INS.WTYPE,INS.RECEIPT_ID AS [PID],-1 AS [SAMPLE_QTY],-1 AS [RATE_A],-1 AS [RATE_B],-1 AS [RATE_C],
	wood.Func_Get_Price_Of_Type(@REGION_ID,INS.INPUT_TYPE_ID,INS.PAY_RATE,INS.ID) AS 'OUT_PRICE',
	@TYLE_NGHIEM_THU_CUA_CHINH_PHAM AS [TL]
	FROM wood.WOOD_INSPECTION AS INS
	INNER JOIN base.ITEM AS IT ON IT.ID = INS.ITEM_ID
	INNER JOIN wood.WH_INPUT_TYPE AS IPT ON IPT.ID = INS.INPUT_TYPE_ID
	INNER JOIN wood.WOOD_TYPE AS WT ON WT.ID = INS.WTYPE
	WHERE RECEIPT_ID IN (SELECT ID FROM wood.WH_RECEIPT_DTL WHERE WH_RECEIPT_ID IN (SELECT ID FROM wood.WH_RECEIPT WHERE ID=@RECEIPT_ID)) 


END

