CREATE OR ALTER   PROC [wood].[Proc_get_Out_Price] 
(@REGION_ID INT,@PARAM_INPUT_TYPE INT,@RATE FLOAT,@ID_INSPECT INT , @RESULT AS INT OUTPUT)
AS
BEGIN
	DECLARE @LOOP_COUTER INT,@MAX_ID INT,@NUM_OUT INT = 0
	-- LẤY TẤT CẢ CÁC ĐIỀU KIỆN CỦA BẢNG GIÁ
	SELECT @LOOP_COUTER= MIN(ID),@MAX_ID =MAX(ID) FROM wood.OPT_MAP_CONDITION WHERE REGION_ID = @REGION_ID
	-- LOOP QUA CÁC BẢN GHI
	WHILE @LOOP_COUTER<= @MAX_ID
	BEGIN
		DECLARE @CODE VARCHAR(300),@HESO INT,@ID_CONDITION INT,@PAY_RATE FLOAT
		SELECT @ID_CONDITION=COND_ID FROM wood.OPT_MAP_CONDITION WHERE ID=@LOOP_COUTER
		SELECT @CODE = CODE, @HESO = HESO,@PAY_RATE = PAY_RATE FROM wood.OPT_CONDITIONS WHERE ID = @ID_CONDITION
		IF @CODE = 'DK1'
			BEGIN
				IF @PARAM_INPUT_TYPE =  100017 -- HÀNG NON LI TRỪ THEO SỐ PHẦN TRĂM LOẠI
					SELECT @NUM_OUT =@NUM_OUT-@NUM_OUT-@HESO -- TRỪ 100K
			END
		IF @CODE = 'DK2'
			BEGIN
				IF @PARAM_INPUT_TYPE =  100017  AND @RATE >0.25-- HÀNG NON LI TRỪ  100% LÔ HÀNG
					SELECT @NUM_OUT =@NUM_OUT-@NUM_OUT-@HESO --
					-- NÂNG TỶ LỆ THANH TOÁN LÊN SỐ % 
					UPDATE wood.WOOD_INSPECTION SET PAY_RATE = @PAY_RATE WHERE ID = @ID_INSPECT
			END
		IF @CODE = 'DK5'
			BEGIN
				IF @PARAM_INPUT_TYPE =  100018  AND @RATE >0.05 AND @RATE <=0.1-- HÀNG tươi TRỪ THEO SỐ PHẦN TRĂM LOẠI
					SELECT @NUM_OUT =@NUM_OUT-@NUM_OUT-@HESO 
			END
		IF @CODE = 'DK6'
			BEGIN
				IF @PARAM_INPUT_TYPE =  100018  AND @RATE >0.1 AND @RATE <=0.3-- HÀNG NON LI TRỪ  100% LÔ HÀNG
					SELECT @NUM_OUT =@NUM_OUT-@NUM_OUT-@HESO --
					-- NÂNG TỶ LỆ THANH TOÁN LÊN SỐ % 
					UPDATE wood.WOOD_INSPECTION SET PAY_RATE = @PAY_RATE WHERE ID = @ID_INSPECT
			END
		--IF @CODE = 'DK_NONLI'
		--	BEGIN
		--		IF @PARAM_INPUT_TYPE =  100018 -- HÀNG TƯƠI
		--			SELECT @NUM_OUT =@NUM_OUT-150000 -- TRỪ 100K
		--	END
		SELECT @LOOP_COUTER = MIN(ID) FROM wood.OPT_MAP_CONDITION WHERE REGION_ID = @REGION_ID AND  ID >@LOOP_COUTER
	END
	SELECT @NUM_OUT AS 'RESULT'
END