create or ALTER       PROC [wood].[Proc_Update_Wood_InSpection]
	@ID INT,@INPUT_TYPE_ID INT,@ITEM_ID INT,@NOTE NVARCHAR(300),@SIZE_OUT_RATE FLOAT,@ISDOUBLE NCHAR(10),@UID INT
AS
BEGIN
	DECLARE @NEW_INPUT_TYPE_ID INT,@NEW_ITEM_ID INT,@NEW_NOTE NVARCHAR(400),@NEW_SIZE_OUT_RATE FLOAT,@NEW_ISDOUBLE NCHAR(10) 
	
	SELECT @NEW_INPUT_TYPE_ID = INPUT_TYPE_ID,@NEW_ITEM_ID = ITEM_ID,@NEW_NOTE = NOTE,@SIZE_OUT_RATE=SIZE_OUT_RATE,@NEW_ISDOUBLE=IS_DOUBLE FROM wood.WOOD_INSPECTION WHERE ID=@ID


	IF @INPUT_TYPE_ID IS NULL
		SELECT @NEW_INPUT_TYPE_ID = @INPUT_TYPE_ID
	IF @NOTE IS NULL
		SELECT @NEW_NOTE  = @NOTE
	IF @SIZE_OUT_RATE IS NULL
		SELECT @NEW_SIZE_OUT_RATE = @SIZE_OUT_RATE
	IF @ISDOUBLE IS NULL
		SELECT @NEW_ISDOUBLE = @ISDOUBLE
	UPDATE wood.[WOOD_INSPECTION] SET INPUT_TYPE_ID=@NEW_INPUT_TYPE_ID,ITEM_ID=@NEW_ITEM_ID,SIZE_OUT_RATE=@NEW_SIZE_OUT_RATE,IS_DOUBLE=@NEW_ISDOUBLE,NOTE = @NOTE,
	UPDATE_AT=GETDATE(),UPDATE_BY=@UID
	WHERE ID = @ID

	SELECT 1 AS [RESULT],N'Thành công !' AS [MESSAGE]
END