create or  ALTER       PROC [wood].[Proc_Update_WH_Receipt] @ID  INT,@ALLOW_INSPECTION  BIT, @ALLOW_PAY  BIT,
@DEL_FLAG  NCHAR(10),@QC_STAFF  INT,@LOCK INT
AS
BEGIN  
	DECLARE @NEW_QC_STAFF AS INT,@NEW_ALLOW_INSPECTION AS BIT, @NEW_ALLOW_PAY AS BIT,@NEW_DEL_FLAG AS NCHAR(10),@RESULT AS BIT,@MESSAGE AS NVARCHAR(300)
	--SELECT @ID = WH_RECEIPT_ID FROM wood.WH_RECEIPT_DTL WHERE ID=@RECEIPT_DLT_ID
	SELECT @NEW_QC_STAFF= QC_STAFF,@NEW_DEL_FLAG=DEL_FLAG,@NEW_ALLOW_INSPECTION=ALLOW_INSPECTION,@NEW_ALLOW_PAY=ALLOW_PAY FROM wood.WH_RECEIPT WHERE ID=@ID
	IF @QC_STAFF IS NOT NULL
		SELECT @NEW_QC_STAFF = @QC_STAFF
	IF @ALLOW_INSPECTION IS NOT NULL
		SELECT @NEW_ALLOW_INSPECTION = @ALLOW_INSPECTION
	IF @ALLOW_PAY IS NOT NULL
		SET @NEW_ALLOW_PAY = @ALLOW_PAY
	IF @DEL_FLAG IS NOT NULL
		SET @NEW_DEL_FLAG = @DEL_FLAG
	BEGIN TRY
		UPDATE wood.WH_RECEIPT SET DEL_FLAG=@NEW_DEL_FLAG,ALLOW_INSPECTION=@NEW_ALLOW_INSPECTION,ALLOW_PAY= @NEW_ALLOW_PAY,QC_STAFF=@NEW_QC_STAFF,[LOCK] =@LOCK
		WHERE ID=@ID
		SELECT @RESULT=1,@MESSAGE=N'Thành công !'
	END TRY
	BEGIN CATCH
		SELECT @RESULT=0,@MESSAGE=ERROR_MESSAGE()
	END CATCH
	SELECT @RESULT AS [RESULT],@MESSAGE AS [MESSAGE],@ID AS [ID]
END