
create or ALTER     PROC [wood].[Proc_Approval_Price]
@REQ_ID INT,@UID INT,@STATUS INT,@APPROVAL_DATE VARCHAR(430),@APPROVAL_NOTE NVARCHAR(300)
AS
BEGIN
	DECLARE @RESULT AS BIT,@MESSAGE AS NVARCHAR(200)
	IF CONVERT(datetime,@APPROVAL_DATE) >= GETDATE()
	BEGIN
		BEGIN TRAN
		BEGIN TRY
			UPDATE wood.REQ_PRICE SET APPROVAL_AT=CONVERT(datetime,@APPROVAL_DATE),APPROVAL_BY=@UID,APPROVAL_STATUS=@STATUS,
			APPROVAL_NOTE=@APPROVAL_NOTE WHERE ID=@REQ_ID
			UPDATE wood.WOOD_PRICE_LIST SET ISNEW='N' 
			WHERE  ITEM_ID IN (SELECT ITEM_ID FROM wood.WOOD_PRICE_LIST WHERE REQ_ID=@REQ_ID) AND
			REGION_ID IN (SELECT REGION_ID FROM wood.WOOD_PRICE_LIST WHERE REQ_ID=@REQ_ID) AND
			[TYPE] IN (SELECT [TYPE] FROM wood.WOOD_PRICE_LIST WHERE REQ_ID=@REQ_ID) AND
			[WTYPE] IN (SELECT [WTYPE] FROM wood.WOOD_PRICE_LIST WHERE REQ_ID=@REQ_ID) AND
			[ITYPE] IN (SELECT [ITYPE] FROM wood.WOOD_PRICE_LIST WHERE REQ_ID=@REQ_ID) AND
			ISNEW = 'Y'

			UPDATE wood.WOOD_PRICE_LIST SET APPLY_STATUS=@STATUS,ISNEW='Y',APPLY_DATE=CONVERT(datetime,@APPROVAL_DATE),APPLY_BY=@UID WHERE REQ_ID=@REQ_ID
			SELECT @RESULT =1,@MESSAGE=N'Thành công !' 
			COMMIT
		END TRY
		BEGIN CATCH
			SELECT  @RESULT =0,@MESSAGE=ERROR_MESSAGE()
			ROLLBACK
		END CATCH
	END
	ELSE
		SELECT  @RESULT =0,@MESSAGE=N'NGÀY ÁP DỤNG KHÔNG CHÍNH XÁC !'
		SELECT @RESULT AS [RESULT],@MESSAGE AS [MESSAGE]
END