
CREATE OR ALTER  FUNCTION [wood].[Func_Get_Pay_Rate](
@ITYPE AS INT,@INSP_RATE FLOAT,@RECEIPT_DLT_ID INT,@INSPECTION_ID INT,@CHINHPHAM BIT
)
RETURNS FLOAT
AS
BEGIN
	DECLARE @CHECK_POINT_A float = 0.7,
	@CHECK_POINT_B float = 0.8, @CHECK_POINT_C FLOAT = 0.9,
	@RATE FLOAT,@ITYPE_CODE VARCHAR(30),@ITYPE_TYPE VARCHAR(300),@ITYPE_CP_ID INT,@VALUE_RETURN FLOAT =0
	SELECT @ITYPE_CODE = CODE,@ITYPE_TYPE=ITYPE FROM wood.WH_INPUT_TYPE WHERE ID = @ITYPE
	SELECT @ITYPE_CP_ID = INPUT_TYPE_ID FROM wood.WH_RECEIPT_DTL WHERE ID = @RECEIPT_DLT_ID
	select @VALUE_RETURN = @INSP_RATE
	-- NẾU LÀ HÀNG CHÍNH PHẨM VÀ LOẠI NHẬP KHO LÀ LOẠI A VÀ TRONG HẠ CẤP CÓ HÀNG LOẠI B
	IF @CHINHPHAM =1 AND @ITYPE_CP_ID =100000 AND EXISTS (SELECT * FROM wood.WOOD_INSPECTION WHERE RECEIPT_ID=@RECEIPT_DLT_ID AND INPUT_TYPE_ID=100001)
	BEGIN
		IF @INSP_RATE >=@CHECK_POINT_B AND @INSP_RATE < @CHECK_POINT_C
			SET @VALUE_RETURN+=0.05
		ELSE IF @INSP_RATE >= @CHECK_POINT_C
			SET @VALUE_RETURN = 1
	END
	-- NẾU LÀ HẠ CẤP VÀ LOẠI HẠ CẤP LÀ LOẠI B VÀ LOẠI NHẬP KHO CỦA CHÍNH PHẨM LÀ HÀNG LOẠI A
	-- THỲ TRỪ THEO BẢNG GIÁ 
	IF @CHINHPHAM =0 AND @ITYPE=100001 AND @ITYPE_CP_ID=100000
	BEGIN
		-- NẾU LÀ HÀNG HẠ CẤP
		-- THỲ TRỪ ĐI 
		DECLARE @TYLE_CUA_CHINHPHAM FLOAT
		SELECT @TYLE_CUA_CHINHPHAM = RATE_A FROM wood.WOOD_INSP WHERE RECEIPT_ID =@RECEIPT_DLT_ID
		IF @TYLE_CUA_CHINHPHAM >= @CHECK_POINT_C
			SET @VALUE_RETURN = 0
		ELSE IF @TYLE_CUA_CHINHPHAM >=@CHECK_POINT_B AND @TYLE_CUA_CHINHPHAM < @CHECK_POINT_C
			SELECT @VALUE_RETURN = CAST(@VALUE_RETURN AS FLOAT)-CAST(0.05 AS FLOAT)
	END
	-- NẾU LÀ HÀNG LOẠI A , XÔ, VÀ LÀ HÀNG CHÍNH PHẨM
	IF @CHINHPHAM = 1 AND @ITYPE = 100016
		SET @VALUE_RETURN = 1
	IF @CHINHPHAM = 0  AND @ITYPE_CP_ID=100016 AND @ITYPE IN (100001,100015) -- NẾU HẠ CẤP VỀ B,C CỦA HÀNG XÔ THỲ TỶ LỆ THANH TOÁN BẰNG 0
		SET @VALUE_RETURN = 0
	-- NẾU LÀ HÀNG CHÍNH PHẨM VÀ NHẬP HÀNG LOẠI A MÀ TRONG LÔ NGHIỆM THU CÓ NHỮNG MÃ NON LI, TƯƠI, LƯỢN LI 
	-- THỲ TỶ LỆ THANH TOÁN TRỪ ĐI SỐ TỶ LỆ NGHIỆM THU CỦA NHỮNG MÃ NÀY
	IF @CHINHPHAM = 1 AND @ITYPE =100000
		BEGIN
			DECLARE @TL_TRU FLOAT = (SELECT SUM(PAY_RATE) FROM wood.WOOD_INSPECTION WHERE RECEIPT_ID=@RECEIPT_DLT_ID AND INPUT_TYPE_ID  IN(100017,100018,100019))			
			IF @TL_TRU IS NULL
				SET @TL_TRU =0
			SELECT @VALUE_RETURN = @VALUE_RETURN - @TL_TRU
		END
	IF @CHINHPHAM = 1 AND @ITYPE <>100000
		BEGIN
			DECLARE @TL_TRU2 FLOAT = (SELECT SUM(PAY_RATE) FROM wood.WOOD_INSPECTION WHERE RECEIPT_ID=@RECEIPT_DLT_ID AND INPUT_TYPE_ID  IN(100017,100018,100019))			
			IF @TL_TRU2 IS NULL
				SET @TL_TRU2 =0
			SELECT @VALUE_RETURN = 1 - @TL_TRU2
		END
	--NẾU LÀ HÀNG LOẠI C THỲ  TỶ LỆ THANH TOÁN BẰNG 0
	IF @CHINHPHAM = 0 AND @ITYPE=100015
		SET @VALUE_RETURN = 0
				
	RETURN @VALUE_RETURN
END
