
CREATE OR ALTER  FUNCTION [dbo].[FUNC_GET_PRICE_WOOD](
	@RECEIPT_DATE DATETIME,@ITEM_ID INT,@DTYPE AS NCHAR(10),@VENDOR_REGION_ID INT,@ITYPE AS INT,@WTYPE AS INT,
	@ITYPE_CHINH_PHAM INT
)
RETURNS INT
AS
BEGIN
	DECLARE @RESULT AS INT =0
	IF @ITYPE NOT IN (100017,100018)
		BEGIN
			SELECT TOP 1 @RESULT =  PRICE FROM  wood.WOOD_PRICE_LIST WHERE ITEM_ID=@ITEM_ID AND APPLY_DATE<=@RECEIPT_DATE AND [TYPE]=@DTYPE AND
			REGION_ID=@VENDOR_REGION_ID AND APPLY_STATUS=1 AND ITYPE=@ITYPE  AND WTYPE=@WTYPE
			ORDER BY APPLY_DATE DESC
			IF @RESULT IS NULL
			SET @RESULT =0
		END
	ELSE
		BEGIN
			SELECT TOP 1 @RESULT =  PRICE FROM  wood.WOOD_PRICE_LIST WHERE ITEM_ID=@ITEM_ID AND APPLY_DATE<=@RECEIPT_DATE AND [TYPE]=@DTYPE AND
			REGION_ID=@VENDOR_REGION_ID AND APPLY_STATUS=1 AND ITYPE=@ITYPE_CHINH_PHAM  AND WTYPE=@WTYPE
			ORDER BY APPLY_DATE DESC
			IF @RESULT IS NULL
				SET @RESULT =0
		END
	RETURN @RESULT
END

