ALTER         PROC [wood].[Proc_Create_WareHouse_Receipt]
	@WAREHOUSE_ID  INT, @RECEIPT_DATE DATETIME,@CAR_LICENSE_PLATE VARCHAR(50), @VENDOR_ID INT,
	@FORLIFT  BIT,@UID INT,@MODULECODE VARCHAR(300)
AS
BEGIN
	DECLARE @YEAR AS INT,@MONTH  AS INT,@MAX_NUMBER_OF_MONTH AS INT,@RESULT AS BIT,@MESSAGE AS NVARCHAR(300),@NEW_RECEIPT_ID AS INT,@NEW_ID AS UNIQUEIDENTIFIER
	SELECT @MONTH = DATEPART(MONTH,@RECEIPT_DATE),@YEAR = DATEPART(YEAR,@RECEIPT_DATE)
	SET @NEW_ID = NEWID()
	SELECT @MAX_NUMBER_OF_MONTH = MAX(NUMBER_OF_MONTH) FROM wood.WH_RECEIPT WHERE [WAREHOUSE_ID]=@WAREHOUSE_ID AND [MONTH] =@MONTH AND [YEAR] = @YEAR
	 AND DEL_FLAG='N' AND WAREHOUSE_ID = @WAREHOUSE_ID
	IF @MAX_NUMBER_OF_MONTH IS NULL
		SELECT @MAX_NUMBER_OF_MONTH = 0
	BEGIN TRY
		INSERT INTO wood.WH_RECEIPT([GUID],NUMBER_OF_MONTH,[MONTH],[YEAR],[WAREHOUSE_ID],[VENDOR_ID],[CAR_LICENSE_PLATE],[ALLOW_INSPECTION],
		[ALLOW_PAY],[FORKLIFT],[RECEIPT_DATE],[CREATE_AT],[CREATE_BY],[DEL_FLAG],[MODULE],[QC_STAFF],[LOCK])
		VALUES(@NEW_ID,@MAX_NUMBER_OF_MONTH+1,@MONTH,@YEAR,@WAREHOUSE_ID,@VENDOR_ID,@CAR_LICENSE_PLATE,1,0,@FORLIFT,@RECEIPT_DATE,GETDATE(),@UID,'N',@MODULECODE,@UID,0)
		SELECT @NEW_RECEIPT_ID = ID FROM wood.WH_RECEIPT WHERE [GUID]=@NEW_ID
		SELECT @RESULT =1, @MESSAGE=N' Thêm mới thành công !'
	END TRY
	BEGIN CATCH
		SELECT @RESULT=0,@MESSAGE =ERROR_MESSAGE()
	END CATCH

	SELECT @RESULT AS [RESULT],@MESSAGE AS  [MESSAGE],@NEW_RECEIPT_ID AS [NEW_RECEIPT_ID]
END