USE [Woodsland]
GO
/****** Object:  UserDefinedFunction [nlg].[Func_lay_thu_hien_thang_theo_qui_cach]    Script Date: 26/03/2020 8:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   FUNCTION [nlg].[Func_lay_thu_hien_thang_theo_qui_cach](
	@MANCC INT,@NGAY_NHAP_KHO DATETIME,@QUI_CACH_ID INT
)

/*
THỰC HIỆN NÀY ĐƯỢC TÍNH LÀ TRONG KẾ HOẠCH
NGOÀI KẾ HOẠCH KHÔNG TÍNH
*/


RETURNS FLOAT
AS
BEGIN
	DECLARE @TH FLOAT,@MONTH INT, @YEAR INT
	SELECT @MONTH = DATEPART(MONTH,@NGAY_NHAP_KHO) , @YEAR=DATEPART(YEAR,@NGAY_NHAP_KHO)
	SELECT @TH = ROUND(SUM(SOBO*SOTHANHBO*QC.VOLUMN),4) 
	FROM nlg.PHIEUNHAPKHO_DT AS PT
	JOIN nlg.QUICACH AS QC ON QC.ID=PT.ID_QUICACH
	JOIN nlg.GROUP_QUICACH as GRQ ON GRQ.ID = QC.GROUP_ID
	JOIN nlg.PHIEUNHAPKHO AS PN ON PN.ID = PT.SOPHIEU_ID
	WHERE GRQ.ID=(SELECT GROUP_ID FROM nlg.QUICACH WHERE ID=@QUI_CACH_ID)
	AND PT.DEL_FLAG='N' AND PT.DELAI='N'
	AND DATEPART(MONTH,PN.RECEIPT_DATE) = @MONTH AND DATEPART(YEAR,PN.RECEIPT_DATE) = @YEAR	
	AND PT.OVER_PLAN = 0
	RETURN @TH
END




